/* Selector universal y estamos reiniciando los valores del navegador */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: white;
}
body{
    background-color: #00586f;
    font-family: Arial, Helvetica, sans-serif;
    color: #FDFBF6;
    width: 1000px;
    height: 1000px;
    margin: 10px auto;
}
header{
    background-color: rgb(212, 0, 255);
    height: 100px;
}
nav{
    background-color: rgb(0, 255, 157);
    height: 200px;
}
main{
    background-color: rgb(255, 98, 0);
    height: 550px;
}
article{
    width: 300px;
    background-color: rgb(158, 206, 191);
    padding: 1em;
    margin: 0 auto;
    height: 300px;
    border-radius: 10%; 
    
}
img{
    width: 100%;
    margin: 0 auto;
    border: 3px dashed white;
}
h2{
    text-align: center;
    margin-top: 10px;
}

footer{
    background-color: rgb(0, 255, 8);
    height: 150px;
}